# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1) java
2) python
3) c++
4) SQL
5) Ruby
6) R, etc

Some of the commonly used libraries used by Data Scientists include:
1) pandas
2) tensorflow
3) numpy
4) scipy
5) matplotlib
6) keras
7) pytorch
8) sci-kit learn, etc.

|Data Science Tools|
|----|
|1) tableau|
|2) python|
|3) KNIME|
|4) Apache Spark|
|5) SQL|
|6) Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [14]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60:
200/60

3.3333333333333335

**LIST OF OBJECTIVES:**
* Learn using jupyternotebbok
* list popular data science languages
* list popular data science libraries
* list os data science tools
* how to comment in a cell

## Author
Das. B.